// Estilo geral



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.apresentacao {
    padding: 36px;
    text-align: center;
    background-color: #ddd1d1;
    color: rgb(0, 0, 0);
    
    .texto1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #000000; /* Cor de destaque para o título */
      font-family: 'Poppins', sans-serif;
    }
    
    .frase-destaque {
      display: block;
      font-size: 28px;
      font-weight: bold;
      color: #ff0000; /* Cor vibrante para chamar atenção */
      margin: 10px 0;
      font-family: 'Poppins', sans-serif;
    }
    
    p {
      font-size: 23px;
      color: #000000;
      margin: 10px 0 20px;
      line-height: 1.6;
      font-family: 'Poppins', sans-serif;
    }
  }
  
  // Container para os perfis
  .box5 {
    margin-top: 150px;
    display: flex;
    flex-direction: column; /* Alinha os perfis verticalmente */
    align-items: center; /* Centraliza horizontalmente */
  }
  
  .profile-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Alinha imagem e informações verticalmente */
    align-items: center;
    margin: 30px 0; /* Espaçamento de 3 cm entre os perfis */
    text-align: center;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .profile-container:hover .profile-img {
    transform: scale(1.1);
  }
  
  .profile-story {
    position: relative; /* Ajuste para não usar `absolute` */
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    font-size: 22px; /* Ajuste o tamanho da fonte se necessário */
    padding: 10px;
    border-radius: 50px 50px 50px 50px; /* Adiciona bordas arredondadas */
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
    white-space: normal; /* Permite a quebra de linha */
    font-family: 'Poppins', sans-serif;
    margin-top: 1cm;
  }
  
  .profile-container:hover .profile-story {
    opacity: 1;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  // Media queries para responsividade
  @media screen and (max-width: 768px) {
    .box5 {
      flex-direction: column; /* Alinha os perfis verticalmente em telas menores */
      align-items: center;
    }
  
    .profile-container {
      margin: 15px 0; /* Ajusta o espaçamento para telas menores */
    }
  }
  